# Raw Data Combining & Cleaning

## Steps
1. Combine the csv files from different query results (set with your output file name accordingly)
2. Remove duplicates
3. Filter and get target jobs
4. Generate a new csv file

## Because this notebook only contains basic functions of pandas library. So, no citation or licence.

In [1]:
import pandas as pd

In [2]:
rdf=pd.read_csv('../00-data/joblist_raw_all.csv')
rdf_scientist=pd.read_csv('../00-data/joblist_raw_scientist.csv')
rdf_engineer=pd.read_csv('../00-data/joblist_raw_engineer.csv')
rdf.count()

title          951
company        951
location       951
description    951
salary         656
link           684
dtype: int64

In [3]:
rdf = rdf.append(rdf_scientist, ignore_index=True)
rdf.count()

title          1883
company        1883
location       1883
description    1881
salary         1221
link           1381
dtype: int64

In [4]:
rdf = rdf.append(rdf_engineer, ignore_index=True)
rdf.count()

title          2790
company        2790
location       2790
description    2788
salary         1631
link           2126
dtype: int64

In [5]:
rdf=rdf.drop_duplicates()
rdf.count()

title          2540
company        2540
location       2540
description    2538
salary         1510
link           2125
dtype: int64

In [6]:
rdf.head()

,title,company,location,description,salary,link
0,Computer Vision Scientist/Engineer,"Expedition Technology, Inc.","Dulles, VA",Computer Vision Scientist/Engineer\r\n\r\nAt E...,NaN,NaN
1,Staff Computer Vision Scientist,WeWork,"Palo Alto, CA",Research Scientist/Manager:\r\nComputer Vision...,NaN,https://www.glassdoor.com/partner/jobListing.h...
2,"Vice President, Software Engineering",Kencast,"Norwalk, CT","As a Vice President of Software Engineering, y...",NaN,NaN
3,Grok Code? Software Engineer Wanted!,Active911,"Corvallis, OR","Active911, Inc. is looking for one or more sup...",Employer Provided Salary:$50K-$80K,https://www.glassdoor.com/partner/jobListing.h...
4,Embedded Software Engineer,SareKon Inc,"Rochester, NY",Position\r\n\r\nThe Embedded Software Engineer...,NaN,NaN

In [8]:
fdf=rdf[rdf['title'].str.contains("vision|image|recognition|learning|robotic|robot|visual|artificial|detection", case=False)==True]
fdf.count()

title          677
company        677
location       677
description    677
salary         286
link           581
dtype: int64

In [9]:
fdf.head()

,title,company,location,description,salary,link
0,Computer Vision Scientist/Engineer,"Expedition Technology, Inc.","Dulles, VA",Computer Vision Scientist/Engineer\r\n\r\nAt E...,NaN,NaN
1,Staff Computer Vision Scientist,WeWork,"Palo Alto, CA",Research Scientist/Manager:\r\nComputer Vision...,NaN,https://www.glassdoor.com/partner/jobListing.h...
32,"Data Scientist, Deep Learning/Computer Vision",Yummly,"Redwood City, CA",Born from the belief that great things come to...,$124K-$170K (Glassdoor est.),https://www.glassdoor.com/partner/jobListing.h...
33,Computer Vision Research Engineer,"Expedition Technology, Inc.","Dulles, VA",Computer Vision Research Engineer\r\n\r\nAt Ex...,NaN,NaN
52,Senior Software Engineer for OFP Development F...,Decisive Analytics,"Dayton, OH",Overview\r\n\r\nDECISIVE ANALYTICS Corporation...,$53K-$94K (Glassdoor est.),https://www.glassdoor.com/partner/jobListing.h...

In [9]:
fdf.to_csv('../00-data/joblist_combined.csv',encoding='utf-8', index=False)