# Coarse Clustering
Change the value in `skills[skills['cluster'] == 34]` to see what do clusters look like (range 0-34)

In [41]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.feature_extraction import text 
import nltk.stem
global english_stemmer

In [42]:
english_stemmer = nltk.stem.SnowballStemmer('english')
class StemmedCountVectorizer(CountVectorizer):

    def build_analyzer(self):
        analyzer = super(CountVectorizer, self).build_analyzer()
        return lambda doc: (english_stemmer.stem(w) for w in analyzer(doc))

In [43]:
skills = pd.read_csv('01-candidate_features.tsv')

In [44]:
skills.keys()

Index(['feature'], dtype='object')

In [45]:
skills
#vectorized[0].todense()

                                  feature
0                              ability to
1                            knowledge of
2                    communication skills
3                           of experience
4                                 able to
5                     years of experience
6                           on experience
7                     hands on experience
8                          and experience
9                         with experience
10                       years experience
11                 development experience
12                             be able to
13                     programming skills
14                        work experience
15                                be able
16                           knowledge in
17                        ability to work
18              qualifications experience
19                    industry experience
20                       strong knowledge
21                      vision experience
22             computer vision experience
23                 problem solving skills
24                          and knowledge
25                         solving skills
26                 programming experience
27    preferred qualifications experience
28        software development experience
29                        plus experience
...                                   ...
9599          deliver technical solutions
9600           deliver useful products to
9601                    deliver technical
9602       deliver tangible results under
9603             deliver tangible results
9604     deliver systems from prototyping
9605                 deliver the personal
9606                 deliver systems from
9607                      deliver systems
9608       deliver solutions matching the
9609           deliver solutions matching
9610          deliver solutions for video
9611                deliver solutions for
9612              deliver software to our
9613                  deliver software to
9614          deliver the next generation
9615            deliver the personal plan
9616                      delivered in an
9617            deliver working solutions
9618                         delivered in
9619    deliverables gain visibility with
9620         deliverables gain visibility
9621                    deliverables gain
9622             deliverables are met for
9623                 deliverables are met
9624                     deliverables are
9625        deliver working solutions you
9626                      deliver working
9627                         deliver true
9628            zillow 3d home experience

[9629 rows x 1 columns]

In [46]:
stop_words = ['skill','skills','perform','deliver','ability','avail','experience','demonstrate'] 
#stop_words = ['available','availability']               
stop_words = text.ENGLISH_STOP_WORDS.union(stop_words)
vectorizer = StemmedCountVectorizer(min_df=10, max_df=0.5,stop_words = stop_words)
vectorized = vectorizer.fit_transform(skills.feature)

In [47]:
num_clusters = 35
km = KMeans(n_clusters = num_clusters, init = 'k-means++', n_init = 1,verbose=1)
clustered = km.fit(vectorized)
predict = km.predict(vectorized)

Initialization complete
Iteration  0, inertia 12335.000
Iteration  1, inertia 11891.922
Iteration  2, inertia 11663.774
Iteration  3, inertia 11374.216
Iteration  4, inertia 11365.081
Iteration  5, inertia 11358.987
Iteration  6, inertia 11356.781
Iteration  7, inertia 11356.373
Converged at iteration 7: center shift 0.000000e+00 within tolerance 4.679250e-07

In [48]:
vectorizer.get_feature_names()

['3d',
 'abl',
 'academ',
 'acceler',
 'accept',
 'accommod',
 'achiev',
 'action',
 'adapt',
 'addit',
 'advanc',
 'ai',
 'algorithm',
 'altern',
 'analysi',
 'analyt',
 'analyz',
 'api',
 'appli',
 'applic',
 'approach',
 'architectur',
 'area',
 'assist',
 'attitud',
 'autom',
 'autonom',
 'avail',
 'aw',
 'award',
 'bachelor',
 'background',
 'base',
 'basic',
 'benefit',
 'bring',
 'bs',
 'build',
 'busi',
 'caff',
 'candid',
 'capabl',
 'certain',
 'challeng',
 'clear',
 'cloud',
 'code',
 'collabor',
 'comfort',
 'commerci',
 'communic',
 'compani',
 'compar',
 'complex',
 'compon',
 'comput',
 'concept',
 'concret',
 'connect',
 'continu',
 'contribut',
 'control',
 'core',
 'creat',
 'creativ',
 'critic',
 'cuda',
 'cultur',
 'current',
 'custom',
 'cv',
 'data',
 'debug',
 'deep',
 'degre',
 'deliv',
 'deliver',
 'deliveri',
 'demonstr',
 'depend',
 'deploy',
 'depth',
 'design',
 'desir',
 'desktop',
 'detect',
 'develop',
 'devic',
 'digit',
 'direct',
 'disabl',
 'distribut',
 'divers',
 'docker',
 'doctor',
 'document',
 'domain',
 'drive',
 'driver',
 'duti',
 'educ',
 'effect',
 'effici',
 'embed',
 'employ',
 'employe',
 'enabl',
 'engin',
 'environ',
 'equit',
 'equival',
 'establish',
 'evalu',
 'excel',
 'except',
 'execut',
 'expect',
 'experi',
 'expert',
 'expertis',
 'explain',
 'extens',
 'face',
 'familiar',
 'fast',
 'faster',
 'feder',
 'field',
 'fluenci',
 'follow',
 'food',
 'framework',
 'function',
 'fundament',
 'futur',
 'gain',
 'general',
 'generat',
 'geometri',
 'goal',
 'good',
 'graphic',
 'hand',
 'hardwar',
 'help',
 'high',
 'higher',
 'home',
 'human',
 'imag',
 'impact',
 'implement',
 'improv',
 'includ',
 'independ',
 'individu',
 'industri',
 'inform',
 'infrastructur',
 'innov',
 'insight',
 'intellectu',
 'intellig',
 'interact',
 'intern',
 'internship',
 'interperson',
 'interpret',
 'intim',
 'java',
 'job',
 'kera',
 'knowledg',
 'languag',
 'larg',
 'law',
 'leadership',
 'learn',
 'legal',
 'level',
 'leverag',
 'librari',
 'licens',
 'limit',
 'linux',
 'literatur',
 'machin',
 'maintain',
 'major',
 'make',
 'manag',
 'market',
 'master',
 'materi',
 'math',
 'mathemat',
 'matlab',
 'measur',
 'media',
 'method',
 'metric',
 'minimum',
 'ml',
 'mobil',
 'model',
 'modern',
 'monitor',
 'motiv',
 'ms',
 'multi',
 'multipl',
 'mxnet',
 'need',
 'network',
 'new',
 'nvidia',
 'object',
 'obtain',
 'open',
 'opencv',
 'oper',
 'optim',
 'option',
 'outstand',
 'packag',
 'passion',
 'peopl',
 'percept',
 'perform',
 'person',
 'phd',
 'plan',
 'platform',
 'plus',
 'portabl',
 'posit',
 'possess',
 'power',
 'practic',
 'predict',
 'prefer',
 'present',
 'previous',
 'prior',
 'problem',
 'process',
 'produc',
 'product',
 'profession',
 'profici',
 'profit',
 'program',
 'programm',
 'project',
 'protect',
 'prototyp',
 'proven',
 'provid',
 'public',
 'python',
 'pytorch',
 'qualif',
 'qualiti',
 'quantit',
 'quick',
 'readabl',
 'real',
 'reason',
 'recognit',
 'recommend',
 'record',
 'regular',
 'relat',
 'relationship',
 'relev',
 'reliabl',
 'repeat',
 'reput',
 'requir',
 'research',
 'respons',
 'result',
 'reusabl',
 'review',
 'robot',
 'robust',
 'safe',
 'scalabl',
 'scale',
 'scene',
 'scienc',
 'scientif',
 'scientist',
 'script',
 'search',
 'segment',
 'self',
 'sens',
 'sensor',
 'servic',
 'set',
 'signific',
 'similar',
 'skillset',
 'slam',
 'softwar',
 'solid',
 'solut',
 'solv',
 'sound',
 'sourc',
 'special',
 'sponsorship',
 'sql',
 'stabl',
 'standard',
 'state',
 'statist',
 'strateg',
 'strategi',
 'strong',
 'structur',
 'substanti',
 'success',
 'suitabl',
 'support',
 'sustain',
 'system',
 'tabl',
 'tablet',
 'team',
 'technic',
 'techniqu',
 'technolog',
 'tensorflow',
 'test',
 'theano',
 'think',
 'time',
 'tool',
 'torch',
 'track',
 'train',
 'transfer',
 'troubleshoot',
 'tune',
 'typic',
 'unabl',
 'uncertainti',
 'understand',
 'usabl',
 'use',
 'user',
 'util',
 'valu',
 'valuabl',
 'variabl',
 'various',
 'vehicl',
 'veteran',
 'viabl',
 'video',
 'vision',
 'visual',
 'wearabl',
 'work',
 'worldwid',
 'write',
 'written',
 'year']

In [49]:
vectorized.shape

(9629, 370)

In [50]:
len(skills.feature)

9629

In [51]:
skills['cluster'] = predict

In [52]:
skills['cluster'].unique()

array([ 1, 11, 24, 14, 29, 32,  4,  7, 12, 19, 10, 28, 26,  8, 31, 18,  9,
        2, 34, 20, 25, 22, 15, 13, 33,  5, 30,  3, 21, 17,  6, 27, 16,  0,
       23], dtype=int64)

In [53]:
skills.sort_values('cluster').count()

feature    9629
cluster    9629
dtype: int64

In [54]:
gg = skills.groupby('cluster')

In [55]:
import collections, re, operator
from collections import Counter
def BagofWords(textlist):
    bagsofwords = [ collections.Counter(re.findall(r'\w+', txt))
            for txt in textlist]
    words=Counter()
    for bbb in bagsofwords:
        for bb,v in bbb.items():  
            words[bb]+=v
    sorted_words = sorted(words.items(), key=operator.itemgetter(1),reverse=True)
    return sorted_words

In [56]:
from collections import defaultdict
d=defaultdict()
key=set(predict)
for k in key:
    d[k]=[]
for x,y in gg:
    d[x]+=list(y.feature.values)
    #print y.feature.values

In [57]:
print(d.keys())

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34])

In [58]:
key=5
words = BagofWords(d[5])
print(len(d))
print(words)

35
[('knowledge', 30), ('apply', 12), ('applied', 9), ('applying', 9), ('of', 7), ('in', 6), ('this', 3), ('their', 3), ('ois', 3), ('your', 3), ('fundamental', 3), ('python', 3), ('career', 1), ('to', 1), ('geometry', 1), ('clouds', 1), ('machine', 1), ('etc', 1), ('learning', 1), ('on', 1), ('software', 1), ('from', 1), ('deep', 1), ('as', 1), ('instructions', 1), ('following', 1), ('creatively', 1)]

In [59]:
#skills.sort_values('cluster',ascending=False).to_csv("./candidate_features_cluster.tsv", encoding='utf8', index=False, sep='\t')

In [98]:
skills[skills['cluster'] == 34]

                                       feature  cluster
107                     applicable programming       34
138                    applications experience       34
163                            with applicable       34
170                   applicable federal state       34
189                             applicable law       34
191                         applicable federal       34
199                 one applicable programming       34
201                             one applicable       34
230                           under applicable       34
272                applicable federal state or       34
294                 protected under applicable       34
320                              by applicable       34
360                   under applicable federal       34
437         application development experience       34
443                    protected by applicable       34
469                          applicable law if       34
483                        with applicable law       34
502                 accordance with applicable       34
535           applicable programming languages       34
536            applicable programming language       34
540                        than one applicable       34
576                       least one applicable       34
619                           applicable state       34
632               with applications experience       34
676                   more than one applicable       34
702        one applicable programming language       34
703       one applicable programming languages       34
749           least one applicable programming       34
752            than one applicable programming       34
756    experience with applications experience       34
...                                        ...      ...
7892           protected by applicable federal       34
7899   update applicable program documentation       34
7900                 update applicable program       34
7901                         update applicable       34
8335              prohibited by applicable law       34
8337                  prohibited by applicable       34
8377    wpf application development experience       34
8424            years of applicable experience       34
8431                       years of applicable       34
8449                  review update applicable       34
8466          review update applicable program       34
8469    related documents including applicable       34
8553             world applications experience       34
8726         employer complies with applicable       34
8863  documents including applicable operating       34
8864            documents including applicable       34
8888                    and applicable to many       34
8911                         and applicable to       34
9006          develop review update applicable       34
9206                    data and applicable to       34
9211   create applicable solutions accordingly       34
9212               create applicable solutions       34
9213                         create applicable       34
9215                       data and applicable       34
9270        real world applications experience       34
9411               by applicable federal state       34
9412                  by applicable law hiring       34
9413                     by applicable law job       34
9435                     by applicable federal       34
9440                   by applicable state and       34

[225 rows x 2 columns]

In [99]:
cluster_type={}

In [100]:
cluster_type[0] = 'skills'
cluster_type[1] = 'experience'
cluster_type[2] = 'task'
cluster_type[3] = 'knowledge'
cluster_type[4] = 'experience'
cluster_type[5] = 'skills'
cluster_type[6] = 'education'
cluster_type[7] = 'knowledge'
cluster_type[8] = 'knowledge'
cluster_type[9] = 'ability'
cluster_type[10] = 'delivery'
cluster_type[11] = 'knowledge'
cluster_type[12] = 'code'
cluster_type[13] = 'knowledge'
cluster_type[14] = 'other skills'
cluster_type[15] = 'education'
cluster_type[16] = 'education'
cluster_type[17] = 'education'
cluster_type[18] = 'education'
cluster_type[19] = 'skills'
cluster_type[20] = 'applicable'
cluster_type[21] = 'availability'
cluster_type[22] = 'skills'
cluster_type[23] = 'other'
cluster_type[24] = 'skills'
cluster_type[25] = 'knowledge'
cluster_type[26] = 'other'
cluster_type[27] = 'education'
cluster_type[28] = 'work experience'
cluster_type[29] = 'skills'
cluster_type[30] = 'education'
cluster_type[31] = 'other'
cluster_type[32] = 'other'
cluster_type[33] = 'requirement'
cluster_type[34] = 'previous experience'

In [101]:
CT = pd.DataFrame.from_dict(cluster_type,orient='index')

In [102]:
CT = CT.reset_index()

In [103]:
CT.columns = ['cluster','type']

In [104]:
CT

    cluster                 type
0         0               skills
1         1           experience
2         2                 task
3         3            knowledge
4         4           experience
5         5               skills
6         6            education
7         7            knowledge
8         8            knowledge
9         9              ability
10       10             delivery
11       11            knowledge
12       12                 code
13       13            knowledge
14       14         other skills
15       15            education
16       16            education
17       17            education
18       18            education
19       19               skills
20       20           applicable
21       21         availability
22       22               skills
23       23                other
24       24               skills
25       25            knowledge
26       26                other
27       27            education
28       28      work experience
29       29               skills
30       30            education
31       31                other
32       32                other
33       33          requirement
34       34  previous experience

In [105]:
new_skills = skills.merge(CT)

In [106]:
new_skills.sort_values('cluster',ascending=False).to_csv("./02-candidate_features_cluster.tsv", encoding='utf8', index=False, sep='\t')

In [107]:
new_skills.groupby('type').count()

                     feature  cluster
type
ability                  128      128
applicable                86       86
availability              42       42
code                     136      136
delivery                  94       94
education                525      525
experience              4636     4636
knowledge               2253     2253
other                    320      320
other skills              52       52
previous experience      225      225
requirement               75       75
skills                   627      627
task                     283      283
work experience          147      147

In [67]:
skill_df = new_skills[new_skills['type']=='skills']

In [74]:
def Clustering(df,num_clusters,stop_words):
                 
    stop_words = text.ENGLISH_STOP_WORDS.union(stop_words)
    vectorizer = StemmedCountVectorizer(min_df=10, max_df=0.3,stop_words = stop_words)
    vectorized = vectorizer.fit_transform(df.feature)
    
    km = KMeans(n_clusters = num_clusters, init = 'k-means++', n_init = 1,verbose=1)
    clustered = km.fit(vectorized)
    predict = km.predict(vectorized)
    return predict

In [75]:
stop_words = ['skills','basic','required','desired','desirable']  
num_clusters = 10
cl_num = Clustering(skill_df, num_clusters,stop_words)

Initialization complete
Iteration  0, inertia 6713.000
Iteration  1, inertia 6587.388
Iteration  2, inertia 6397.741
Iteration  3, inertia 6182.928
Iteration  4, inertia 6180.572
Iteration  5, inertia 6175.451
Iteration  6, inertia 6175.347
Converged at iteration 6: center shift 0.000000e+00 within tolerance 5.947484e-07

In [76]:
cl_num

array([9, 0, 0, ..., 0, 0, 0])

In [77]:
set(cl_num)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [78]:
skill_df['cluster_2'] = cl_num

C:\Users\FRE\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [79]:
skill_df

                                      feature  cluster    type  cluster_2
0                                  ability to        0  skills          9
1                        communication skills        0  skills          0
2                               of experience        0  skills          0
3                               on experience        0  skills          0
4                         hands on experience        0  skills          0
5                              and experience        0  skills          0
6                             with experience        0  skills          0
7                          programming skills        0  skills          0
8                   qualifications experience        0  skills          0
9                         industry experience        0  skills          0
10                          vision experience        0  skills          0
11                     problem solving skills        0  skills          0
12                             solving skills        0  skills          0
13                     programming experience        0  skills          0
14        preferred qualifications experience        0  skills          0
15                            plus experience        0  skills          0
16                            user experience        0  skills          0
17            and verbal communication skills        0  skills          0
18                verbal communication skills        0  skills          0
19                       demonstrated ability        0  skills          1
20                    demonstrated ability to        0  skills          1
21                            have experience        0  skills          0
22                             etc experience        0  skills          0
23                        learning experience        0  skills          0
24                        research experience        0  skills          0
25                       practical experience        0  skills          0
26                      processing experience        0  skills          0
27                          skills experience        0  skills          0
28                    demonstrated experience        0  skills          1
29                          python experience        0  skills          0
...                                       ...      ...     ...        ...
8084  desirable candidates strong thoeretical        5  skills          0
8085              desirable candidates strong        5  skills          0
8086         desirable experience programming        5  skills          0
8087      desirable experience programming in        5  skills          0
8088              desired skillsets knowledge        5  skills          2
8089               desired prior knowledge of        5  skills          2
8090                  desired prior knowledge        5  skills          2
8091              desired knowledge of sigint        5  skills          2
8092       desired gpu programming experience        5  skills          0
8093               desired basic knowledge of        5  skills          2
8094                  desired basic knowledge        5  skills          2
8095       desirable strong skills developing        5  skills          0
8096            desirable face detection face        5  skills          0
8097                  desirable strong skills        5  skills          0
8098                         desirable strong        5  skills          0
8099   desirable proficiency with development        5  skills          0
8100               desirable proficiency with        5  skills          0
8101                    desirable proficiency        5  skills          0
8102       desirable familiarity with various        5  skills          0
8103               desirable familiarity with        5  skills          0
8104                    desirable familiarity        5  skills          0
8105                 desirable face detection        5  skills          0
8106                     desirable candidates        5  skills          0
8107                           desirable face        5  skills          0
8108                       desirable you will        5  skills          0
8109               desirable you will provide        5  skills          0
8110                            desirable you        5  skills          0
8111                 to others desired skills        5  skills          0
8112                  but is highly desirable        5  skills          0
8113                   control desired skills        5  skills          0

[5788 rows x 4 columns]

In [80]:
skill_df[skill_df['cluster_2'] == 0]

                                      feature  cluster    type  cluster_2
1                        communication skills        0  skills          0
2                               of experience        0  skills          0
3                               on experience        0  skills          0
4                         hands on experience        0  skills          0
5                              and experience        0  skills          0
6                             with experience        0  skills          0
7                          programming skills        0  skills          0
8                   qualifications experience        0  skills          0
9                         industry experience        0  skills          0
10                          vision experience        0  skills          0
11                     problem solving skills        0  skills          0
12                             solving skills        0  skills          0
13                     programming experience        0  skills          0
14        preferred qualifications experience        0  skills          0
15                            plus experience        0  skills          0
16                            user experience        0  skills          0
17            and verbal communication skills        0  skills          0
18                verbal communication skills        0  skills          0
21                            have experience        0  skills          0
22                             etc experience        0  skills          0
23                        learning experience        0  skills          0
24                        research experience        0  skills          0
25                       practical experience        0  skills          0
26                      processing experience        0  skills          0
27                          skills experience        0  skills          0
29                          python experience        0  skills          0
33                   or equivalent experience        0  skills          0
34                      experience experience        0  skills          0
35                      equivalent experience        0  skills          0
37                              coding skills        0  skills          0
...                                       ...      ...     ...        ...
8077       software highly desired experience        5  skills          0
8079              production is desirable you        5  skills          0
8080                with git highly desirable        5  skills          0
8081                  production is desirable        5  skills          0
8082      communication skills desired skills        5  skills          0
8083                           desirable deep        5  skills          0
8084  desirable candidates strong thoeretical        5  skills          0
8085              desirable candidates strong        5  skills          0
8086         desirable experience programming        5  skills          0
8087      desirable experience programming in        5  skills          0
8092       desired gpu programming experience        5  skills          0
8095       desirable strong skills developing        5  skills          0
8096            desirable face detection face        5  skills          0
8097                  desirable strong skills        5  skills          0
8098                         desirable strong        5  skills          0
8099   desirable proficiency with development        5  skills          0
8100               desirable proficiency with        5  skills          0
8101                    desirable proficiency        5  skills          0
8102       desirable familiarity with various        5  skills          0
8103               desirable familiarity with        5  skills          0
8104                    desirable familiarity        5  skills          0
8105                 desirable face detection        5  skills          0
8106                     desirable candidates        5  skills          0
8107                           desirable face        5  skills          0
8108                       desirable you will        5  skills          0
8109               desirable you will provide        5  skills          0
8110                            desirable you        5  skills          0
8111                 to others desired skills        5  skills          0
8112                  but is highly desirable        5  skills          0
8113                   control desired skills        5  skills          0

[3365 rows x 4 columns]

In [81]:
def get_features(gg,predict):
    d=defaultdict()
    key=set(predict)
    for k in key:
        d[k]=[]
    for x,y in gg:
        d[x]+=list(y.feature.values)
    return d

In [82]:
gg = skill_df.groupby('cluster_2')
d = get_features(gg,predict)

for key in range(num_clusters):
    words = BagofWords(d[key])
#print len(d[key])
    print(words[0],words[1],len(d[key]))
#cluster 3 is huge & undetermined.

('experience', 1821) ('skills', 558) 3365
('demonstrated', 116) ('demonstrable', 79) 262
('knowledge', 1211) ('of', 412) 1245
('engineering', 34) ('experience', 27) 49
('data', 91) ('experience', 42) 91
('analysis', 32) ('perform', 16) 32
('comfortable', 138) ('with', 42) 138
('capable', 77) ('of', 42) 77
('deliver', 171) ('delivering', 65) 264
('ability', 262) ('to', 228) 265

In [83]:
print(len(skill_df))

5788

In [84]:
cl_num_new = Clustering(skill_df[skill_df['cluster_2']==0],num_clusters,stop_words)

Initialization complete
Iteration  0, inertia 3385.000
Iteration  1, inertia 3311.534
Iteration  2, inertia 3273.502
Iteration  3, inertia 3164.282
Iteration  4, inertia 3163.245
Converged at iteration 4: center shift 0.000000e+00 within tolerance 6.796753e-07

In [85]:
skill_df['cluster_3_type'] = ['unknown']*len(skill_df)

#skill_df[skill_df['cluster_2']==3]['cluster_3']

C:\Users\FRE\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [86]:
gg = skill_df.groupby('cluster_2')

from collections import defaultdict
def get_features(gg,predict):
    d=defaultdict()
    key=set(predict)
    for k in key:
        d[k]=[]
    for x,y in gg:
        d[x]+=list(y.feature.values)
    return d

In [87]:
skill_df.keys()

Index(['feature', 'cluster', 'type', 'cluster_2', 'cluster_3_type'], dtype='object')

In [88]:
skill_df

,feature,cluster,type,cluster_2,cluster_3_type
0,ability to,0,skills,9,unknown
1,communication skills,0,skills,0,unknown
2,of experience,0,skills,0,unknown
3,on experience,0,skills,0,unknown
4,hands on experience,0,skills,0,unknown
5,and experience,0,skills,0,unknown
6,with experience,0,skills,0,unknown
7,programming skills,0,skills,0,unknown
8,qualifications experience,0,skills,0,unknown
9,industry experience,0,skills,0,unknown
10,vision experience,0,skills,0,unknown
11,problem solving skills,0,skills,0,unknown
12,solving skills,0,skills,0,unknown
13,programming experience,0,skills,0,unknown
14,preferred qualifications experience,0,skills,0,unknown
15,plus experience,0,skills,0,unknown
16,user experience,0,skills,0,unknown
17,and verbal communication skills,0,skills,0,unknown
18,verbal communication skills,0,skills,0,unknown
19,demonstrated ability,0,skills,1,unknown
20,demonstrated ability to,0,skills,1,unknown
21,have experience,0,skills,0,unknown
22,etc experience,0,skills,0,unknown
23,learning experience,0,skills,0,unknown
24,research experience,0,skills,0,unknown
25,practical experience,0,skills,0,unknown
26,processing experience,0,skills,0,unknown
27,skills experience,0,skills,0,unknown
28,demonstrated experience,0,skills,1,unknown
29,python experience,0,skills,0,unknown
...,...,...,...,...,...
8084,desirable candidates strong thoeretical,5,skills,0,unknown
8085,desirable candidates strong,5,skills,0,unknown
8086,desirable experience programming,5,skills,0,unknown
8087,desirable experience programming in,5,skills,0,unknown
8088,desired skillsets knowledge,5,skills,2,unknown
8089,desired prior knowledge of,5,skills,2,unknown
8090,desired prior knowledge,5,skills,2,unknown
8091,desired knowledge of sigint,5,skills,2,unknown
8092,desired gpu programming experience,5,skills,0,unknown
8093,desired basic knowledge of,5,skills,2,unknown
8094,desired basic knowledge,5,skills,2,unknown
8095,desirable strong skills developing,5,skills,0,unknown
8096,desirable face detection face,5,skills,0,unknown
8097,desirable strong skills,5,skills,0,unknown
8098,desirable strong,5,skills,0,unknown
8099,desirable proficiency with development,5,skills,0,unknown
8100,desirable proficiency with,5,skills,0,unknown
8101,desirable proficiency,5,skills,0,unknown
8102,desirable familiarity with various,5,skills,0,unknown
8103,desirable familiarity with,5,skills,0,unknown
8104,desirable familiarity,5,skills,0,unknown
8105,desirable face detection,5,skills,0,unknown
8106,desirable candidates,5,skills,0,unknown
8107,desirable face,5,skills,0,unknown
8108,desirable you will,5,skills,0,unknown
8109,desirable you will provide,5,skills,0,unknown
8110,desirable you,5,skills,0,unknown
8111,to others desired skills,5,skills,0,unknown
8112,but is highly desirable,5,skills,0,unknown
8113,control desired skills,5,skills,0,unknown